.status_container {
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  width: fit-content;
  padding: 4px 10px;
  color: white;
  border-radius: 16px;
  font-size: 14px;
}

.status_failed {
  background-color: rgb(211, 69, 91);
  opacity: 60%;
}
.status_success {
  background-color: rgb(48, 130, 115);
}
